* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
}

#body {
    font-family: "Noto Sans", sans-serif;
    font-weight: 400, 500, 700;
    background-image: var(--dark-gradient);
    height: 100vh;

    color: var(--color-neutral-0);
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
}


#body.bright {
    background-image: var(--light-gradient);
}

:root {
    --color-neutral-0: hsl(200, 60%, 99%);
    --color-neutral-100: hsl(0, 0%, 93%);
    --color-neutral-200: hsl(217, 61%, 90%);
    --color-neutral-300: hsl(0, 0%, 78%);
    --color-neutral-600: hsl(226, 11%, 37%);
    --color-neutral-700: hsl(225, 23%, 24%);
    --color-neutral-800: hsl(226, 25%, 17%);
    --color-neutral-900: hsl(227, 75%, 14%);


    /* Color Variables (Red colors) */
    --color-red-400: hsl(3, 86%, 64%);
    --color-red-500: hsl(3, 71%, 56%);
    --color-red-700: hsl(3, 77%, 44%);

    /* Color Variables (Gradient colors) */

    --light-gradient: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
    --dark-gradient: linear-gradient(hsl(225, 71%, 5%) 0%, hsl(227, 75%, 14%));

  

}



main {
    width: 70%;

}

.header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    background-color: var(--color-neutral-700);
    background-repeat: no-repeat;
    margin-top: 50px;
    border-radius: 10px;
    align-items: center;
    padding: 30px;
    box-shadow: .1px 1px 6px .4px var(--color-neutral-600);
}

#body.bright .header  {
    background-color: var(--color-neutral-100);
}

.header div:first-child {
    display: flex;
    align-items: center;
}

.header div:last-child {
    display: flex;
    align-items: center;
    border: none;
    padding: 10px;
    border-radius: 7px;
    background-color: var(--color-neutral-600);
    cursor: pointer;
}

#icon img:last-child {
    display: none;
}

#body.bright .header div:last-child  {
    background-color: var(--color-neutral-300);
}
.title { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0 40px 0;
}

 #body.bright .title h1{
    color: black;
}

.buttons {
    display: flex;
    gap: 10px;
}

#body.bright .buttons {
    color: var(--color-neutral-900);
    font-weight: 500;
}

.all {
    border: none;
    border-radius: 50px;
    padding: 10px 20px 10px 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-700);
    cursor: pointer;
    box-shadow: .1px 1px 6px .4px var(--color-neutral-600);
}

#body.bright .all  {
    background-color: var(--color-neutral-100);
}

.all:active {
    outline: 2px solid var(--color-red-400);
    outline-offset: 2px;
    background-color: var(--color-red-400);
    transition: 20sec;
    color: var(--color-neutral-800);
    font-weight: 700;
}

#body.bright .all:active {
    outline: 2px solid var(--color-red-400);
    outline-offset: 2px;
    background-color: var(--color-red-400);
    transition: 20sec;
    color: var(--color-neutral-800);
    font-weight: 700;
}

.active:active {
    outline: 2px solid var(--color-red-400);
    outline-offset: 2px;
    background-color: var(--color-red-400);
    color: var(--color-neutral-800);
    font-weight: 700;
}

#body.bright .active:active {
    outline: 2px solid var(--color-red-400);
    outline-offset: 2px;
    background-color: var(--color-red-400);
    transition: 20sec;
    color: var(--color-neutral-800);
    font-weight: 700;
}



.inactive:active {
    outline: 2px solid var(--color-red-400);
    outline-offset: 2px;
    background-color: var(--color-red-400);
    color: var(--color-neutral-800);
    font-weight: 700;
}

#body.bright .inactive:active {
    outline: 2px solid var(--color-red-400);
    outline-offset: 2px;
    background-color: var(--color-red-400);
    transition: 20sec;
    color: var(--color-neutral-800);
    font-weight: 700;
}

.all:hover {
    background-color: var(--color-red-500);
    color: var(--color-neutral-800);
    font-weight: 700;
}

.active:hover {
    background-color: var(--color-red-500);
    color: var(--color-neutral-800);
    font-weight: 700;
}

.inactive:hover {
    background-color: var(--color-red-500);
    color: var(--color-neutral-800);
    font-weight: 700;
}


.active {
    border-radius: 50px;
    padding: 10px 20px 10px 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-700);
    cursor: pointer;
    box-shadow: .1px 1px 6px .4px var(--color-neutral-600);
}

#body.bright .active  {
    background-color: var(--color-neutral-100);
}


.inactive {
    border-radius: 50px;
    padding: 10px 20px 10px 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-700);
    box-shadow: .1px 1px 6px .4px var(--color-neutral-600);
    cursor: pointer;
}

#body.bright .inactive  {
    background-color: var(--color-neutral-100);
}


.cards_container {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 50px;
}


.card {
    background-color: var(--color-neutral-800);
    height: 200px;
    border-radius: 23px;
    padding: 20px 30px 0px 20px;
    box-shadow: .1px .1px 0.2px 2px var(--color-neutral-600);
}

#body.bright .card  {
    background-color: var(--color-neutral-100);
}


.devLens {
    display: flex;
    gap: 20px;
    height: 50%;
    margin-bottom: 35px;

}



.devLens .card-logo img {
    width: 25%;
    min-width: 50px;
}


.devLens div:last-child p {
    width: 90%;
    margin-top: 10px;
    font-weight: 200;
    line-height: 1.3;
}

#body.bright .devLens div:last-child p  {
    color: var(--color-neutral-800);
}
#body.bright .devLens div:last-child h3  {
    color: var(--color-neutral-800);
}

.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.actions button {
    padding: 8px 9px;
    color: var(--color-neutral-0);
    border: none;
    box-shadow: .1px .1px 0.2px 2px var(--color-neutral-600);
    border-radius: 15px;
    background-color: var(--color-neutral-700);
    cursor: pointer;
}

#body.bright .actions button  {
    background-color: var(--color-neutral-100);
    color: var(--color-neutral-900);
}

.actions div {
    display: flex;

}

label {
    width: 40px;
    height: 20px;
    background-color: var(--color-neutral-600);
    border-radius: 40px;
    position: relative;
    cursor: pointer;
}

label::before {
    content: '';
    width: 17px;
    height: 16px;
    background-color: var(--color-neutral-0);
    position: absolute;
    border-radius: 40px;
    top: 2px;
    left: 2px;
}

input:checked + label {
    background-color: var(--color-red-500);
}

input:checked + label::before {
    transform: translateX(18px);
}

input {
    display: none;
}

@media screen and (max-width: 1200px) {
    .cards_container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 800px) {

    .title {
        gap: 20px;
        flex-direction: column;
    }

    .title h1 {
        font-size: clamp(2.3rem, 5vw, 3rem);
    }


    .cards_container {
        grid-template-columns: 1fr;
    }
}